config headscale 'server'
	option enabled '0'
	option server_url 'http://192.168.1.1:8080'
	option listen_addr '0.0.0.0:8080'
	option metrics_listen_addr '127.0.0.1:9090'
	option grpc_listen_addr '127.0.0.1:50443'
	option grpc_allow_insecure '0'
	option log_level 'info'
	option log_format 'text'
	option disable_check_updates '1'
	option ephemeral_node_inactivity_timeout '30m'

config headscale 'ip_prefixes'
	option v4 '100.64.0.0/10'
	option v6 'fd7a:115c:a1e0::/48'
	option allocation 'sequential'

config headscale 'derp'
	option embedded_enabled '0'
	option region_id '999'
	option region_code 'headscale'
	option region_name 'Headscale Embedded DERP'
	option stun_listen_addr '0.0.0.0:3478'
	option verify_clients '1'
	option auto_update_enabled '1'
	option update_frequency '24h'
	list urls 'https://controlplane.tailscale.com/derpmap/default'

config headscale 'dns'
	option magic_dns '1'
	option base_domain 'example.com'
	list nameservers '1.1.1.1'
	list nameservers '223.5.5.5'
	list search_domains ''

config headscale 'database'
	option type 'sqlite'
	option sqlite_path '/etc/headscale/db.sqlite'

config headscale 'policy'
	option mode 'file'
	option path '/etc/headscale/acl.hujson'
